*{
    margin: 0;
    padding: 0;
}

.homepage{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(3, 50, 75, 0.3), rgba(20, 3, 59, 0.3)), url('../images/IMG-8417.JPG');
    /* background: linear-gradient(rgba(3, 50, 75, 0.3), rgba(20, 3, 59, 0.3)); */
    background-size: 100% 100%;
}